<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMGC</title>
</head>
<body>
{% include '_header.html' %}
<br/>
<div style="border: 1px solid black; border-radius: 5px; padding: 5px;">
    <h1 align="center"><u>Overview</u></h1>
    <p>With advancement in technology, people can now download large collection of music into their machines. However, those
        music files stay unorganized. Organization can be introduced by categorizing them on the basis of artists or music
        similarity or genre. A 2004 survey by Lee JH and Downie JS concluded that end users are more likely to browse and search
        by genre rather than by recommendation, artist similarity or music similarity, although these alternatives were each
        popular as well. Hence, as implied by this survey result, categorization by genre seems to overshadow other categorizations.
        However, when the number of files increases, such categorization becomes a tedious job if done manually, and many a times,
        we fail to recognize a song’s genre. AMGC helps to pacify this problem.</p>

    <p>
        AMGC application, that is intended to be accomplished, shall classify song input by the user into one of five genres
        (classical, rock, pop, metal, blues).
    </p>
</div>
</body>
</html>